li {
    list-style-type: none;
   font-size: 16pt;
  }
  .mail {
    margin: auto;
    padding-top: 10px;
  
    padding-bottom: 10px;
  
    width: 400px;
  
    background: teal;
  
    border: 1px soild silver;
  
  }
  .mail h1 {
  
    margin-left: 40px;
    align-items: center;
    color: white;
  
  }
  .mail h2 {
  
    margin-left: 38px;
  
    color: white;
  
  }
  
  input {
  
    font-size: 20pt;
  
  }
  
  input:focus,
  
  textarea:focus {
  
    background-color: lightyellow;
  
  }
  
  input validate {
  
    font-size: 12pt;
  
  }
  
