li  
    {
        list-style-type: none;
        font-size: 16pt;
    }
.form 
    {
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 400px;
        background: teal;
        border: 1px soild silver;
    }
.form h1 
    {
        margin-left: 40px;
        align-items: center;
        color: white;
    }
.form h2 
    {
        margin-left: 38px;
        color: white;
    }
input 
    {
        font-size: 20pt;
    }
input validate 
    {
        font-size: 12pt;
    }
  
